
<div>
    <h2><span>Category</span> {{vm.category.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Category Name</span></dt>
        <dd>
            <span>{{vm.category.categoryName}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.category.description}}</span>
        </dd>
        <dt><span>Picture</span></dt>
        <dd>
            <div ng-if="vm.category.picture">
                <a ng-click="vm.openFile(vm.category.pictureContentType, vm.category.picture)">open</a>
                {{vm.category.pictureContentType}}, {{vm.byteSize(vm.category.picture)}}
            </div>
        </dd>
        <dt><span>Active</span></dt>
        <dd>
            <span>{{vm.category.active}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="category-detail.edit({id:vm.category.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
