
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myOrderDataLabel">Create or edit a Order Data</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.orderData.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.orderData.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                    ng-model="vm.orderData.price"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_quantity">Quantity</label>
            <input type="number" class="form-control" name="quantity" id="field_quantity"
                    ng-model="vm.orderData.quantity"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_shipDate">Ship Date</label>
                <div class="input-group">
                    <input id="field_shipDate" type="text" class="form-control" name="shipDate" datetime-picker="{{dateformat}}" ng-model="vm.orderData.shipDate" is-open="vm.datePickerOpenStatus.shipDate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('shipDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_billDate">Bill Date</label>
                <div class="input-group">
                    <input id="field_billDate" type="text" class="form-control" name="billDate" datetime-picker="{{dateformat}}" ng-model="vm.orderData.billDate" is-open="vm.datePickerOpenStatus.billDate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('billDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label for="field_orders">Orders</label>
            <select class="form-control" id="field_orders" name="orders" ng-model="vm.orderData.orders" ng-options="orders as orders.id for orders in vm.orders track by orders.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
