
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProductLabel">Create or edit a Product</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.product.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.product.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_productName">Product Name</label>
            <input type="text" class="form-control" name="productName" id="field_productName"
                    ng-model="vm.product.productName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_productDescription">Product Description</label>
            <input type="text" class="form-control" name="productDescription" id="field_productDescription"
                    ng-model="vm.product.productDescription"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sku">Sku</label>
            <input type="text" class="form-control" name="sku" id="field_sku"
                    ng-model="vm.product.sku"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_quantityPerUnit">Quantity Per Unit</label>
            <input type="number" class="form-control" name="quantityPerUnit" id="field_quantityPerUnit"
                    ng-model="vm.product.quantityPerUnit"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_discount">Discount</label>
            <input type="number" class="form-control" name="discount" id="field_discount"
                    ng-model="vm.product.discount"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_minOrder">Min Order</label>
            <input type="number" class="form-control" name="minOrder" id="field_minOrder"
                    ng-model="vm.product.minOrder"
                     />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setPicture($file, vm.product)">
            <label class="control-label" for="field_picture">Picture</label>
            <div>
                <div ng-if="vm.product.picture" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.product.pictureContentType, vm.product.picture)">open</a><br>
                    <span class="pull-left">{{vm.product.pictureContentType}}, {{vm.byteSize(vm.product.picture)}}</span>
                    <button type="button" ng-click="vm.product.picture=null;vm.product.pictureContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setPicture($file, vm.product)">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="picture" id="field_picture"
                    ng-model="vm.product.picture"
                     />
            <input type="hidden" class="form-control" name="pictureContentType" id="field_pictureContentType"
                    ng-model="vm.product.pictureContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_unitPrice">Unit Price</label>
            <input type="number" class="form-control" name="unitPrice" id="field_unitPrice"
                    ng-model="vm.product.unitPrice"
                     />
        </div>

        <div class="form-group">
            <label for="field_category">Category</label>
            <select class="form-control" id="field_category" name="category" ng-model="vm.product.category" ng-options="category as category.id for category in vm.categories | orderBy:'id' track by category.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_supplier">Supplier</label>
            <select class="form-control" id="field_supplier" name="supplier" ng-model="vm.product.supplier" ng-options="supplier as supplier.id for supplier in vm.suppliers | orderBy:'id' track by supplier.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
